// Soft orange
$org: hsl(35, 77%, 62%);
// Soft red
$red: hsl(5, 85%, 63%);
// Off-white
$wht: hsl(36, 100%, 99%);
// Very dark blue
$wd: hsl(240, 100%, 5%);
// Grayish blue
$gb: hsl(233, 8%, 79%);
// Dark grayish blue
$dgb: hsl(236, 13%, 42%);
// Transition 0.5s
$tran-05: 0.5s all ease;
