@import 'var';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: 'Inter', sans-serif;
}
a {
  text-decoration: none;
}
p {
  font-size: 1.5rem;
  text-align: left;
  line-height: 1.6;
}

h1 {
  font-size: 5.6rem;
  font-weight: 800;
  line-height: 1.1;
  color: $wd;
}
.container {
  padding: 0 1.6rem;
  margin: 0 auto;
}
.attribution {
  font-size: 1.2rem;
  text-align: center;
  padding-bottom: 1.5rem;
  a {
    color: hsl(228, 45%, 44%);
  }
}

@import 'blocks/main';
@import 'blocks/header';
@import 'blocks/btn';
@import 'blocks/titles';
@import 'blocks/news';
@import 'media';
