.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 82px;
  height: 55px;
  &__logo {
    width: 100%;
  }
  a {
    color: $dgb;
    &:hover {
      color: $org;
    }
  }
  &__list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    margin: 0;
    li {
      margin-left: 40px;
    }
  }
}
