.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 2rem;
}
.main-block {
  picture {
    display: block;
    img {
      height: 100%;
      width: 100%;
    }
  }
  &__subblock {
    display: flex;
    flex-direction: column;

    margin-top: 2.3rem;
  }
  &__subhead {
    p {
      margin-top: 1.5rem;
      line-height: 2.6rem;
      margin-bottom: 2.1rem;
    }
  }
}
.aside {
  margin-top: 6.6rem;
  background-color: hsl(240, 100%, 5%);
  padding: 2rem 2.5rem 2.2rem 2.2rem;
  h2 {
    font-size: 3.2rem;
    font-weight: 700;
    color: $org;
    margin-bottom: 3rem;
  }
  article {
    margin-top: 3.4rem;
    margin-bottom: 2.7rem;
    &:last-child {
      margin-bottom: 0;
    }
  }
  hr {
    color: $gb;
  }
  p {
    margin-top: 1rem;
    color: $gb;
  }
  a {
    h3 {
      transition: $tran-05;
      &:hover {
        color: $org;
      }
    }
  }
}
.news {
  display: flex;
  flex-direction: column;
  padding: 6.5rem 0 10rem 0;
}
.mini-block {
  display: flex;
  margin-bottom: 3.3rem;
  padding-right: 1rem;
  &__descr {
    margin-left: 2.4rem;
    p {
      margin-top: 1.2rem;
      color: $dgb;
    }
  }
  &__img {
    img {
      width: 10rem;
    }
  }
  &__num {
    font-size: 3.3rem;
    font-weight: 700;
    color: $gb;
    line-height: 3rem;
    padding-bottom: 1.5rem;
  }
}
